<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReceiptProject2_6_22_.Properties.Settings.Receipts_DBConnectionString"
            connectionString="Data Source=DESKTOP-QUAEPTE;Initial Catalog=Receipts_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>